.app {
  background-color: var(--color-bg);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.light-theme {
  --color-primary: #EF695F;
  --color-secondary: #A3A3A3;
  --color-text: #262729;
  --color-bg: #fff;
  --color-bg-secondary: #fff;
  --color-bg-hover: #E4E4E4;
  
}

.dark-theme {
   --color-primary: #FFCD6A;
   --color-secondary: #A3A3A3;
   --color-text: #FFF;
   --color-bg: #262626;
   --color-bg-secondary: #373737;
}


a:link, a:visited, a:hover, a:active {
  text-decoration: none;
  color: inherit;
}

.txt-secondary, .txt-primary {
  font-size: var(--font-size-regular);
  font-weight: var(--font-weight-regular);
  font-family: 'IBM Plex Sans', sans-serif;

}

.txt-primary {
  color: var(--color-text);
  
}

.txt-secondary {
  color: var(--color-secondary);
}


@font-face {
  font-family: IBM_Plex_Sans;
  src: url(/Client/src/assets/Fonts/IBM_Plex_Sans/ibmplexsans-variablefont_wdthwght-webfont.woff);
}

button {
  margin: 0;
  background-color: transparent !important;
  border: none ;
}