:root {

  --font-size-small: 12px;
  --font-size-regular: 16px;

  --font-size-error: 2px;
  
  --font-weight-light: 200;
  --font-weight-regular: 400;
}




@media screen and (max-width: 1050px) {
  :root {
    --font-size-regular: 12px;


  }
}

