
.countCard_content-wrapper {
    display: flex;
    align-items: center;
    width: 100% ;
    height: 100% ;
}

.counter-controls {
  display: flex;
  align-items: center;
}

.counter-control-btns {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}


.count {
    width: 10px;
}

.arrow-btn {
  transition: transform 0.5s ease;
}

.arrow-btn:hover{
  transform: scale(0.90);
  transition: transform 0.5s ease;
}

.arrow-btn:active{
  transform: scale(0.50);
  transition: transform 0.5s ease;
}