.sno__header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sno_header_img-wrapper {
  position: relative;
  width: 100%;
  max-width: 1060px;
  height: 520px;
  overflow: hidden;
}

.sno__header_img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  z-index: 1;
}

.fade-in {
  opacity: 1;
  z-index: 2;
}

.fade-out {
  opacity: 0;
  z-index: 1;
}

.sno__header_form {
  position: absolute;
  top: 100%;
  margin-top: 30px;
  display: flex;
  align-items: center;
  background-color: var(--color-bg);
  height: 70px;
  border-radius: 36px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.25);
  padding: 0 24px;
  z-index: 5;
}

.sno__header_form_split {
  background-color: var(--color-secondary);
  width: 2px;
  height: 40px;
  margin: 0 16px;
}

.sno__header_contact-us {
  color: var(--color-primary);
  cursor: pointer;
}
