.sno__header {
  position: relative;
  width: 100;
  height: 100vh;
  
}

.sno__header-booking-form {
  position: absolute;
  width: 100%;
  min-height: 475px;
  top: 50%;
  transform: translate(-0%, -50%);
  display: flex;
  align-items: center;
  flex-direction: column;
  
}

.sno__header-booking-form-input-spacer {
  margin: 0px 10px;
  display: flex;
  max-width: 600px;
  flex-wrap: wrap;
  justify-content: center;
}

.sno__header-booking-form-input-container {
    text-align: center;
    margin: 20px 10px 10px 10px;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.sno__header-input {
  padding: 10px 0;
  border: 1px solid gray;
  outline: none;
  width: 100%;
  border-radius: 4%;
  background-color: var(--color-secondary);
  margin-top: 12px;
}

.container-large{
    width: 150px;
}

.container-medium {
    width: 100px;
}

.container-small {
    width: 50px;
}

.input-picker {
  caret-color: transparent;
  display: flex;
  text-align: center;
}

.flag-btn {
  background-color: white;
  height: 38px;
  border-radius: 4%;
  margin-top: 12px;
}

.custom-phone-input {
   max-width: 140px;
   padding-left: 0px !important;
   padding: 10px 0 !important;
   border-radius: 4% !important;
}

.phone-costum-margin {
  margin-bottom: 12px;
}

.notify-costum-margin {
  margin-bottom: 5px;
}

.letUsKnow-costum-margin {
  margin-bottom: 10px;
}

.sno__total {
  margin-bottom: 15px;
}

.son__booking-submit-btn {
  padding: 10px;
  font-style: bold;
  color: beige;
  background-color: blue;
  margin-top: 20px;

 
}

.sno__header-form-keepInMind {
  font-weight: 100 !important;
  margin-bottom: 10px;
  margin-top: 20px;
  animation: slideFadeIn 0.3s ease-out;
  color: var(--text-secondary);
}



.react-datepicker__day--keyboard-selected {
  background-color: transparent !important;
  color: inherit !important;
}














