.sno__header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sno__header_content-wrapper {
  position: relative;
  width: 1068px;
  height: 528px;
  margin: 10px 0 40px 0

}

.sno__header_form_option-wrapper {
  display: flex;
  height: 96%;
  align-items: center;
}

.sno__header_form_option-wrapper:hover {
  align-items: center;
  transform: scale(0.98);
  transition: transform 0.5s ease;
}

.sno__header_form_option-wrapper:active {
  transform: scale(0.97);
  transition: transform 0.1s ease;
}



.sno__header_form {
  position: absolute;
  top: 92%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  background-color: var(--color-bg);
  height: 70px;
  border-radius: 36px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.25);
  padding: 0 24px;
  z-index: 5;
}

.sno__header_form_split {
  background-color: var(--color-secondary);
  width: 1px;
  height: 40px;
  margin: 0 16px;
}

.sno__header_contact-us {
  color: var(--color-primary);
  cursor: pointer;
}


.sno__header_form_additional {
  position: absolute;
  top: 32px;
  left: 24.5px;
  z-index: 2;
  background-color: var(--color-bg);
  border-radius: 50px;
  overflow: hidden;
  height: 0;
  padding: 0 32px; /* only horizontal, not vertical yet */
  transition: height 0.25s ease, padding 0.25s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  pointer-events: none;
}

.slide-visible {
  height: 430px;
  padding-top: 20px;
  padding-bottom: 20px;
  pointer-events: auto;
}


.sno__header_form_additional_counts {
 display: flex;
 width: 200px;
 justify-content: space-between;


}

.additional-card-dropDown {
  width: 175px;
}


.Sno__header_form_additional_select {
  max-width: 215px !important;
  height: auto !important;
  display: flex;
  align-items: center;
}

.Sno__header_submit-btn {
  background-color: var(--color-primary) !important;
  padding: 8px 0;
  color: #fff !important;
  width: 215px;
  border-radius: 8px;
}




