
.sno__navbar, .sno__navbar-spacer, .sno__navbar-shortcuts {
    display: flex;
}

.sno__navbar {
    height: 80px;
    align-items: center;
    justify-content: center;
}

.sno__navbar-spacer {
    width: 1348px;
    justify-content: space-between;
    align-items: center;
}

.sno__navbar-shortcuts {
    width: 535px;
    justify-content: space-between;
    font-family: sans-serif;
}


